**/*.ipynb_checkpoints
**/*.pyc
**/*.swp
**__pycache__
**/.pytest_cache
*.egg-info
*.gz
*.idea
*.log
*.out
*.pyc
*.swp
*.tar
*.xml
*.bson
venv*/
.DS_Store
.RData
.Rhistory
.coverage
.eggs
.env
.tenv
.vscode
env
lib
data
database/db-data
database/raw-data
